<!-- Home section starts -->
<section id="home" class="slides">
  <div class="video-overlay"></div>
    <div id="video-block" style="width: 100%;height: 100%;z-index: -1;position: absolute;" <%= vider_tag 'assets/pan.mp4' %>        
      <ul class="slides-container">
        <!-- Slide 1 -->
        <li>
        <div class="caption-video">
          <h2>Sous Chef</h2>
          <p>FIND USEFUL RECIPES</p>
          <a href="/recipes" class="smooth-scroll btn btn-primary btn-sm">Allez Cuisine</a>
        </div>
        </li>

        <!-- Slide 2 -->
        <li>
        <div class="caption-video">
          <h2>Sous Chef</h2>
          <p>USING THE INGREDIENTS YOU ALREADY HAVE</p>
          <a href="/recipes" class="btn btn-primary btn-sm">Allez Cuisine</a>
        </div>
        </li>
      </ul>
    </div>
</section> <!-- Home section ends -->

<!-- About section starts -->
<section id="about" class="container-fluid">
  <div class="photo-container col-lg-4 hidden-sm hidden-xs divider-background p-l-n">
    <div class="background-image-holder">
      <%= image_tag "chef.jpg", class: "chef-img"%>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 history pull-right">
        <h2>About us</h2>
        <h3>Unleash your inner chef</h3>
        <p>Cooking is fundamental skill everyone should learn.  Sous Chef makes cooking at home a breeze by matching you with recipes you can immediately make with the ingredients you already have.</p>
        <p>Home cooking is also important for your health and it can change your life.  You have the ability to control what ingredients are used and control your caloric intake while saving money in the process.</p>
      </div>
    </div>
  </div>
</section> <!-- About section starts -->