<!-- Home section starts -->
<section id="home" class="slides">
  <div class="video-overlay"></div>
    <div id="video-block" style="width: 100%;height: 100%;z-index: -1;position: absolute;" <%= vider_tag 'assets/pan.mp4' %>        
      <ul class="slides-container">
        <!-- Slide 1 -->
        <li>
        <div class="caption-video">
          <h2>Sous-Chef</h2>
          <p>FIND USEFUL RECIPES</p>
          <% unless current_user %>
            <a href="/users/sign_up " class="smooth-scroll btn btn-primary btn-sm">Sign Up</a>
          <% end %>
        </div>
        </li>

        <!-- Slide 2 -->
        <li>
        <div class="caption-video">
          <h2>Sous-Chef</h2>
          <p>USING THE INGREDIENTS YOU ALREADY HAVE</p>
          <% unless current_user %>
            <a href="/users/sign_in" class="btn btn-primary btn-sm">Login</a>
          <% end %>
        </div>
        </li>
      </ul>
    </div>
</section> <!-- Home section ends -->

<!-- About section starts -->
<section id="about" class="container-fluid">
  <div class="col-lg-4 hidden-sm hidden-xs history">
    <iframe width="500" height="300" src="https://www.youtube.com/embed/bSzlRuYfamE" frameborder="0" allowfullscreen></iframe>
    <h3>How it works</h3>
    <p>Each user has a customizable virtual pantry.  Sous-Chef then gives you a list of recipes where you have 100% and 75% of the ingredients.</p>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 history pull-right">
        <h2>About us</h2>
        <h3>Unleash your inner chef</h3>
        <p>Cooking is fundamental skill everyone should learn.  Sous-Chef makes cooking at home a breeze by giving you a list of recipes you can immediately make.  Just fill your virtual pantry with ingredients currently in your kitchen, and Sous-Chef will do the rest.</p>
        <p>Cooking at home is not only delicious but it can save you money by eating out less and avoiding nasty take-out.  While your pockets are getting a little fatter, rest assured your belly won't.  You control the ingredients and Sous-Chef will watch the calories because each recipe comes with nutritional information.</p>
        <p>So now America, with an open heart and an empty stomach, I say unto you in the words of my uncle: 'Allez cuisine!'</p>
      </div>
    </div>
  </div>
</section> <!-- About section starts -->