/* Ingredient Show Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#ingredient-show  {
    background: #161615;
    color: #fff;
    padding-bottom: 10px;
}

#ingredient-show  ul {
    color: #fff;
}

#ingredient-show  .ingredient-name {
}

.ingredient-show-buttons {
    left: 0;
    bottom: 0;
}

#ingredient .ingredient-name{
    color: #000;
}