<h1>Ingredient</h1>

<h3>Ingredient: <%= @pantry_ingredient.ingredient.name %></h3>
<h4>Amount: <%= @pantry_ingredient.measurement %></h4>

<%= link_to 'Delete', "/pantry/#{@pantry_ingredient.id}", method: :delete %>
<%= link_to 'Edit', "/pantry/#{@pantry_ingredient.id}/edit" %>